/* You can add global styles to this file, and also import other style files */
html,body {
    background:darkgray;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
div{
    height: 100%;
}
app-root{
    height: max-content;
}