<div *ngIf="user">
    <h2>{{ user.name }}</h2>
    <div>
        Name:
        <input [(ngModel)]="user.name" placeholder="Name" />
    </div>
    <div>
        Fist Name:
        <input [(ngModel)]="user.firstName" placeholder="First Name">
    </div>
    <div>
        Last Name:
        <input [(ngModel)]="user.lastName" placeholder="Last Name">
    </div>
    <button (click)="updateUser(user)" *ngIf="user.id" >Save</button>
    <button (click)="deleteUser(user)" *ngIf="user.id" >Delete</button>
    <button (click)="createUser(user)" *ngIf="!user.id" >Create</button>
</div>