<div *ngIf="user" class="">
    <h2>{{ user.name }}</h2>
    <div class="mb-2">
        <label class="form-label ">Nick: </label>
        <input class="form-control" [(ngModel)]="user.name" placeholder="Nick" />
    </div>
    <div class="mb-2">
        <label class="form-label">First Name: </label>
        <input  class="form-control" [(ngModel)]="user.firstName" placeholder="First Name">
    </div>
    <div class="mb-2">
        <label class="form-label">Last Name: </label> 
        <input class="form-control" [(ngModel)]="user.lastName" placeholder="Last Name">
    </div>
    <button class="btn btn-primary btn-sm me-2" (click)="updateUser(user)" *ngIf="user.id">Save</button>
    <button class="btn btn-outline-danger btn-sm me-2" (click)="deleteUser(user)" *ngIf="user.id">Delete</button>
    <button class="btn btn-primary btn-sm me-2" (click)="createUser(user)" *ngIf="!user.id">Create</button>
</div>