<div class="row">
  <h2 >Nicks</h2>
  <div class="col-sm-6 pe-3">

    <table class="table table-sm ">
      <thead>
        <th scope="col">Nick</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
      </thead>
      <tbody class="">
        <tr *ngFor="let user of users" scope="row">
          <td>{{user.name}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td><button class="btn btn-secondary btn-sm " (click)="editUser(user)">Edit</button></td>
        </tr>
      </tbody>
    </table>

    <div class="my-1">
      <button class="btn btn-primary btn-sm " (click)="initNewUser()">Create New User</button>
    </div>

  </div>
  <div class="col-sm-6">
    <app-edit [user]="userToEdit" (userUpdated)="updateUserList($event)"></app-edit>
  </div>
</div>